license:
# -- path inside GridGain container to mount the file with license
  mountPath: /opt/gridgain/etc/license.conf
# -- Create secret from raw content passed
  createSecret: 
    mountPath: /opt/gridgain/etc
# -- License raw content
    content: |
      {"edition":"ULTIMATE"...}

clusterConfig:
# -- path inside GridGain init container to mount the file with cluster config
  mountPath: /etc/gridgain9db/cluster.conf
# -- Create secret from raw content passed
  createSecret: 
    mountPath: /etc/gridgain9db/cluster.conf
# -- Cluster config raw content
    content: |
      ignite {
        security {
          enabled:true,
          authentication.providers:[{
            name:default,
            type:basic,
            users:[
              {
                username:ignite,
                displayName:administrator,
                password:ignite,
                roles:["system"]
              }
            ]
          }]
        }
      }